</main>

<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-info">
                <h3>Reflection Realm</h3>
                <p>Personal thoughts and insights.</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; <%= new Date().getFullYear() %> ReflectionRealm. All rights reserved.</p>
        </div>
    </div>
</footer>

<script src="/js/script.js"></script>
</body>
</html>